<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>

<body class="bg-light">

  <footer th:fragment="add-scripts">
    <script th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/webjars/datatables/1.10.16/js/dataTables.bootstrap.min.js}"></script>
    <link rel="script" href="/static/js/bootadmin.min.js">
  </footer>

</body>
</html>