<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head.html :: head"></head>

<body class="bg-light">

<!--Строку сверху-->
<!--Вставка панели сверху, как отдельного блока из html файла-->
<nav th:replace="fragments/up-bar.html :: up-bar"></nav>

<!--Скрывающаяся панель слева-->
<div class="d-flex">

<!--    Вставка панели слева, как отдельного блока из html файла-->
    <div th:replace="fragments/sidebar.html :: sidebar"></div>

    <div class="content p-4">
        <h2 class="mb-4">Blank/Starter</h2>

        <div class="card mb-4">
            <div class="card-body">
                This is a blank page you can use as a starting point.
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer.html :: add-scripts"></footer>

</body>
</html>